<div ui-view="">
  <h2>订单</h2>

  <a href="" ng-click="oc.newOrder()">创建新订单</a>
  <a href="" ng-click="oc.newPlanOrder()">创建计划单</a>

  <h3>计划单</h3>
  <table>
    <thead>
    <tr>
      <th>项目名称</th>
      <th>时间</th>
      <th>钢管总米数</th>
      <th>扣件总米数</th>
      <th>状态</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="plan in oc.plans">
      <td>{{plan.name}}</td>
      <td>{{plan.date | date : 'yyyy年MM月dd日'}}</td>
      <td>{{plan.steelCount}}</td>
      <td>{{plan.fastenerCount}}</td>
      <td>{{plan.status}}</td>
      <td><button ng-if="plan.status == '申请中'" ng-click="oc.read(plan)">已经阅读</button></td>
    </tr>
    </tbody>
  </table>

  <h3>所有订单</h3>
  <table>
    <thead>
    <tr>
      <th>始发地</th>
      <th>目的地</th>
      <th>发车日期</th>
      <th>经手人</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="order in oc.orders">
      <td>{{order.from}}</td>
      <td>{{order.to}}</td>
      <td>{{order.date | date : 'yyyy年MM月dd日 H时mm分'}}</td>
      <td>{{order.handler}}</td>
    </tr>
    </tbody>
  </table>

</div>
