<div>
  <h2>新建订单</h2>

  <form>
    <div>
      <label>始发地</label>
      <input ng-model="oec.order.from">
    </div>
    <div>
      <label>目的地</label>
      <input ng-model="oec.order.to">
    </div>
    <div>
      <label>签单时间</label>
      <input ng-model="oec.order.date" type="date">
    </div>
    <div>
      <label>经手人</label>
      <input ng-model="oec.order.handler">
    </div>
    <div>
      <input type="submit" value="保存">
    </div>

    <div>
      <label>
        <input type="checkbox" ng-model="oec.order.pipe"> 钢管
      </label>
      <label>
        <input type="checkbox" ng-model="oec.order.fastener"> 扣件
      </label>
    </div>
    <div ng-if="oec.order.pipe">
      <h4>钢管</h4>
      <a href="" ng-click="oec.add(oec.order.pipes)">+</a>
      <div ng-repeat="pipe in oec.order.pipes">
        <label>规格<input ng-model="pipe.spec"></label>
        <label>根数<input ng-model="pipe.number"></label>
        <a href="" ng-click="oec.remove(oec.order.pipes, pipe)">-</a>
      </div>
      多少米一顿<input ng-model="per">
      <p>总米数 {{oec.total(oec.order.pipes)}}</p>
      <p>总吨数 {{oec.total(oec.order.pipes)  / per}}</p>
    
    </div>

    <div ng-if="oec.order.fastener">
      <h4>扣件</h4>
      <a href="" ng-click="oec.add(oec.order.fasteners)">+</a>
      <div ng-repeat="fastener in oec.order.fasteners">
        <label>规格
          <select ng-model="fastener.spec">
            <option>十字</option>
            <option>直接</option>
            <option>转向</option>
          </select>
        </label>
        <label>个数<input ng-model="fastener.number"></label>
        <a href="" ng-click="oec.remove(oec.order.fasteners, fastener)">-</a>
      </div>
      <div>数量 {{ oec.total(oec.order.fasteners)}}</div>
    </div>

    <div>
    <pre>{{oec.order | json}}</pre>
    </div>

  </form>
</div>
