<div>
  <h2>用户管理</h2>
  <form ng-submit="uc.addUser()">
    <div>
      <label>用户名：</label>
      <input type="text" ng-model="uc.newUser.username">
    </div>
    <div>
      <label>密码：</label>
      <input type="password" ng-model="uc.newUser.password">
    </div>
    <div>
      <input type="submit" value="新建">
    </div>
  </form>
  <table>
    <thead>
    <tr>
      <th>用户名</th>
      <th>密码</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in uc.users">
      <td>{{user.username}}</td>
      <td ng-if="!user.editing">******</td>
      <td ng-if="user.editing"><input ng-model="user.rawPassword" type="text"></td>
      <td ng-if="!user.editing"><a ng-click="user.editing = true" href="">修改</a></td>
      <td ng-if="user.editing"><a ng-click="uc.save(user)" href="">保存</a><a ng-click="user.editing = false" href="">取消</a></td>
      <td><a href="">冻结</a></td>
    </tr>
    </tbody>
  </table>
</div>
